.contact-form-container {
  /* background-color:rgb(255,199,0); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1049%26quot%3b)' fill='none'%3e%3cpath d='M31.82 140C15.91 121.33 5.14 125.3 0 102.67C-10.77 55.3 -29.62 21.72 0 0C40.38 -29.62 70 0 140 0C158.15 0 164.75 -12.4 176.3 0C229.96 57.6 222.94 70.3 270.41 140C274.79 146.44 274.66 152.28 280 152.28C286.32 152.28 291.72 148.76 293.73 140C309.22 72.62 278.75 40.2 315 0C341.88 -29.8 367.5 0 420 0C490 0 490 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C910 0 910 0 980 0C1050 0 1050 0 1120 0C1190 0 1190 0 1260 0C1302.78 0 1306.49 -11.24 1345.56 0C1376.49 8.9 1374.21 40.27 1400 40.27C1421.84 40.27 1415.18 7.38 1440.83 0C1485.18 -12.76 1519.44 -29.02 1540 0C1569.02 40.98 1540 70 1540 140C1540 210 1540 210 1540 280C1540 346.62 1562.91 367.41 1540 413.23C1527.91 437.41 1470 416.29 1470 420C1470 423.72 1527.81 403.71 1540 428.08C1562.81 473.71 1573.96 528 1540 560C1503.96 593.96 1470 560 1400 560C1330 560 1330 560 1260 560C1195.49 560 1191.67 567.14 1130.98 560C1121.67 558.9 1129.15 543.53 1120 543.53C1067.66 543.53 1064.12 553.4 1008 560C994.12 561.63 994 560 980 560C910 560 910 560 840 560C770 560 770 560 700 560C630 560 630 560 560 560C490 560 490 560 420 560C350 560 350 560 280 560C210 560 210 560 140 560C70 560 35 595 0 560C-35 525 0 490 0 420C0 366.47 -29.06 323.51 0 312.94C40.94 298.05 91.08 379.38 140 369.09C169.39 362.91 156.61 321.42 156.61 280C156.61 270.34 147.02 274.8 140 266.93C84.62 204.8 85.91 203.46 31.82 140' stroke='rgba(172%2c 249%2c 234%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 62.22C937.05 62.22 904.93 93.19 898.6 140C890.2 202.08 918.25 214.39 950.53 280C958.95 297.11 964.34 305.45 980 305.45C999.07 305.45 1007.85 299.52 1020 280C1059.32 216.8 1093.81 199.16 1082.94 140C1073.81 90.27 1029.22 62.22 980 62.22' stroke='rgba(255%2c 183%2c 105%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 214.12C551.77 214.12 552.31 247.17 543.77 280C525.54 350.11 501.09 356.83 506.47 420C509.2 452.11 533.24 470.56 560 470.56C586.76 470.56 610.71 452.12 613.53 420C619.07 356.84 594.93 350.05 576.72 280C568.17 247.11 568.24 214.12 560 214.12' stroke='rgba(172%2c 249%2c 234%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1260 403.39C1245.11 403.39 1233.51 411.43 1233.51 420C1233.51 428.81 1244.83 438.15 1260 438.15C1307.08 438.15 1358 428.7 1358 420C1358 411.32 1307.35 403.39 1260 403.39' stroke='rgba(255%2c 183%2c 105%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M71.59 140C35.8 98 23.75 102.44 0 56C-12.05 32.44 -17.07 10.93 0 0C26.68 -17.07 47.81 -11.71 87.5 0C117.81 8.94 116.93 17.38 140 41.31C184.41 87.38 181.93 90.09 222.47 140C251.93 176.28 247.95 213.68 280 213.68C317.89 213.68 344.98 187.12 362.35 140C384.36 80.28 338.7 48.7 358.75 0C367.52 -21.3 389.38 0 420 0C490 0 490 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C903.13 0 966.27 -25.44 966.27 0C966.27 35.31 913.08 97.41 840 121.51C779.95 141.31 770.96 94.94 700 87.8C630.96 80.85 624.88 76.44 560 93.33C524.61 102.54 511.28 107.06 499.46 140C477.8 200.39 503.96 211.21 493.04 280C481.73 351.21 477.36 351.13 455 420C440.84 463.63 444.72 467.41 420 505C398.7 537.41 397.16 546.57 362.96 560C327.16 574.07 321.48 560 280 560C210 560 210 560 140 560C70 560 35 595 0 560C-35 525 0 490 0 420C0 417.94 -1.12 415.88 0 415.88C2.06 415.88 3.33 417.72 6.36 420C73.33 470.47 86.18 521.38 140 521.38C175.62 521.38 168.66 472.68 185.23 420C206.62 351.99 229.44 339.66 215.93 280C206.82 239.79 174.5 253.74 140 220.27C102.33 183.74 105.8 180.13 71.59 140' stroke='rgba(255%2c 183%2c 105%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1120 100.7C1051.97 60.48 995.22 28.32 995.22 0C995.22 -22.03 1057.61 0 1120 0C1190 0 1190 0 1260 0C1270.37 0 1272.15 -5.41 1280.74 0C1342.15 38.7 1339.93 44.73 1400 88.22C1436.62 114.73 1438.59 112.16 1474.12 140C1508.59 167.01 1522.98 161.76 1540 197.93C1555.92 231.76 1540 238.97 1540 280C1540 318.38 1561.5 356.77 1540 356.77C1498.87 356.77 1475.15 320.92 1414.74 280C1405.15 273.51 1407.83 261.94 1400 261.94C1391.43 261.94 1392.89 273.58 1381.94 280C1322.89 314.64 1319.64 309.71 1260 344.07C1198.13 379.71 1197.47 379.64 1138.92 420C1127.47 427.9 1131.98 433.6 1120 440.59C1052.52 479.94 1053.85 489.17 980 512.68C913.85 533.74 909.45 533.04 840 529.73C769.45 526.37 754.51 533.51 700 499.33C667.01 478.64 678.32 461.12 665 420C642.8 351.45 619.05 343.69 628.96 280C636.55 231.19 654.04 220.41 700 195C759.56 162.08 786.99 141.29 840 163.33C889.23 183.79 864.44 227.99 904.47 280C934.44 318.94 939.86 345.23 980 345.23C1028.87 345.23 1039.75 320.61 1082.5 280C1109.75 254.12 1092.53 237.98 1120 212.26C1167.28 167.98 1232 169.51 1232 140C1232 113.73 1170.36 130.48 1120 100.7' stroke='rgba(172%2c 249%2c 234%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1540 72.8C1526.12 72.8 1489.44 23.18 1489.44 0C1489.44 -13.22 1529.64 -14.92 1540 0C1554.92 21.48 1551.4 72.8 1540 72.8' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M468.13 560C468.13 549.33 514.3 519.17 560 519.17C603.47 519.17 646.47 549.28 646.47 560C646.47 569.69 603.24 560 560 560C514.07 560 468.13 569.75 468.13 560' stroke='rgba(0%2c 134%2c 3%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1199.61 560C1199.61 543.49 1226.02 502.96 1260 502.96C1309.32 502.96 1366.21 544.84 1366.21 560C1366.21 573.36 1313.11 560 1260 560C1229.8 560 1199.61 572.01 1199.61 560' stroke='rgba(172%2c 249%2c 234%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1431.61 560C1431.61 542.62 1504.16 495.38 1540 495.38C1558.35 495.38 1560.24 547.93 1540 560C1506.05 580.24 1431.61 574.93 1431.61 560' stroke='rgba(13%2c 23%2c 136%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M111.36 140C111.36 120.06 124.75 98.69 140 98.69C156.33 98.69 174.52 120.23 174.52 140C174.52 157.69 156.48 173.6 140 173.6C124.9 173.6 111.36 157.51 111.36 140' stroke='rgba(172%2c 249%2c 234%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M14.58 0C14.58 2.53 4.74 9.33 0 9.33C-2.55 9.33 -2.84 1.82 0 0C4.45 -2.84 14.58 -2.13 14.58 0' stroke='rgba(13%2c 23%2c 136%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M420 100C389.55 96.05 402.5 42.65 402.5 0C402.5 -7.35 411.25 0 420 0C490 0 490 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C868.83 0 897.65 -11.62 897.65 0C897.65 16.12 875.52 50.35 840 55.47C776.7 64.59 770.58 37.31 700 28.47C630.58 19.78 625.17 3.77 560 20.42C485.17 39.54 468.3 106.26 420 100' stroke='rgba(255%2c 183%2c 105%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1120 39.3C1094.13 39.3 1071.3 11.05 1071.3 0C1071.3 -8.6 1095.65 0 1120 0C1153.94 0 1187.88 -9.12 1187.88 0C1187.88 10.53 1152.42 39.3 1120 39.3' stroke='rgba(172%2c 249%2c 234%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1387.83 140C1387.83 137.06 1394.21 136.16 1400 136.16C1403.04 136.16 1405.49 137.5 1405.49 140C1405.49 143.94 1403.63 149.03 1400 149.03C1394.8 149.03 1387.83 143.49 1387.83 140' stroke='rgba(172%2c 249%2c 234%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1540 2.8C1539.47 2.8 1538.06 0.89 1538.06 0C1538.06 -0.51 1539.6 -0.57 1540 0C1540.57 0.83 1540.44 2.8 1540 2.8' stroke='rgba(172%2c 249%2c 234%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M275.25 280C276.17 276.73 277.22 277.06 280 275.09C349.59 225.73 369.76 175.81 420 177.33C450.92 178.27 442.32 228.97 442.32 280C442.32 320.83 437.17 323.36 420 361.05C405.27 393.36 402.67 393.45 378.52 420C332.67 470.42 319.71 515 280 515C249.99 515 240.07 469 239.08 420C237.7 351.5 255.71 349.19 275.25 280' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M681.19 280C681.19 266.61 686.28 260.38 700 257.5C765.69 243.71 777.69 237.82 840 246.67C856.9 249.07 845.01 266.75 858.42 280C915.01 335.91 915.28 338.51 980 385C1012.74 408.51 1053.33 400.87 1053.33 420C1053.33 440.06 1019.86 460.55 980 463.38C913.19 468.12 909.47 451.28 840 435.14C816.13 429.59 814.36 432.17 793.33 420C744.36 391.66 733.59 396.05 700 354.12C677.52 326.05 681.19 314.92 681.19 280' stroke='rgba(255%2c 183%2c 105%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1236.67 280C1236.67 275.56 1249.73 267.83 1260 267.83C1265.91 267.83 1269.03 274.94 1269.03 280C1269.03 283.4 1264.85 284.75 1260 284.75C1248.67 284.75 1236.67 284.02 1236.67 280' stroke='rgba(0%2c 134%2c 3%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1506.84 280C1506.84 269.39 1529.29 258.28 1540 258.28C1545.87 258.28 1540 269.14 1540 280C1540 290.16 1545.69 300.32 1540 300.32C1529.11 300.32 1506.84 290.41 1506.84 280' stroke='rgba(0%2c 134%2c 3%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1049'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}

#submit {
  margin-bottom: 20px;
}

.form_glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.input {
  /* From https://css.glass */
  background: rgba(169, 169, 169, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 15px;
}

.top_form {
  margin-top: 50px;
}

.button_contact {
  margin-top: 20px;
}


/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 13px 13px 12px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.text {
  padding-left: 20px;
  padding-right: 20px;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  padding-top: 6px;
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

@media (max-width:450px) {
  .button_contact {
    margin-top: 20px;
    width: 100%;
  }
}

@media (max-width:400px) {
  .button_contact {
    margin-top: 20px;
    width: 100%;
  }
}