.contact-form-container {
  background-color: #FAFD5D;
}
.input {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  outline: none;
  border-bottom: 1px solid black;
}
Form {
  margin-top: 35px;
}
.form-title {
  padding-top: 40px;
  font-family: monospace;
}
.input:focus {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.form-submit-btn {
  margin-top: 20px;
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  padding-top: 10px;
  width: 100%;
  font-weight: bold;
  padding-bottom: 10px;
  border-radius: 20px;
  letter-spacing: 1px;
}
.form-submit-btn:hover {
  background-color: #183153;
  color: white;
  border: 1px solid gray;
  letter-spacing: 2px;
}
.form-submit-btn:focus {
  background-color: #183153;
}
@media (max-width:325px) {
  .form-submit-btn {
    width: 70%;
  }
}
@media (max-width:10255px) {
  .form-submit-btn {
    margin-bottom: 20px;
  }
}
@media (max-width:769px) {
  .form-submit-btn {
    width: 50%;
  }
}