footer{
    /* background: url("/src/icon/patten.svg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); Adjust the color and opacity as needed */
    background-image: linear-gradient(to top, #48464852 0%, #c1d2ea09 100%);
}
hr{
    color: orange;
}
.iconhover:hover{
    color: orange;
}
#linkedHover:hover {
    animation: border 1s ease-out infinite;
}
@keyframes border {
    0% {
        border-bottom: 2px solid orange;
    }
    50% {
        border-bottom: 2px solid rgb(223, 198, 198);
    }
    100% {
        border-bottom: 2px solid orange;
    }
}