.FE_card {
  /* margin-top: 35px; */
  width: 100%;
  /* Use percentage-based width */
  max-width: 500px;
  /* Set a maximum width if needed */
  height: auto;
  max-height: auto;
  /* Set a maximum height if needed */
  border-radius: 6px;
  box-sizing: border-box;
  overflow: hidden;
  /* Ensure content doesn't overflow */
  /* box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; */
  border: none;
  cursor: pointer;
  /* background-color: rgba(203, 217, 233, 0.141); */
}
.FE_card:hover {
  /* box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1); */
  transform: translateY(-7px);
  transition: all .2s ease;
  color: orange;
}
.FE_title {
  padding-top: 20px;
  cursor: pointer;
  float: left;
}
.FE_card-img1 {
  width: auto;
  height: auto;
  fill: antiquewhite;
  border-radius: 10px;
  /* border: none;  */
  transition: all .9s ease-out;
  border: 1px solid black;
}
.FE_card-img1:hover {
  opacity: 1;
  transition: all 1s ease-in;
}
.FE_card-img2 {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: auto;
  /* Use percentage-based width */
  height: auto;
  opacity: .7;
  fill: antiquewhite;
  border-radius: 10px;
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.145); */
  border: 1px solid black;
  transition: all .9s ease;
}
.FE_card-img2:hover {
  opacity: 1;
  transition: all 1s ease-out;
}
.FE_card-img3 {
  width: auto;
  opacity: .7;
  /* Use percentage-based width */
  height: auto;
  fill: antiquewhite;
  border-radius: 10px;
  border: 1px solid black;
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.145); */
}
.FE_card-img3:hover {
  opacity: 1;
  transition: all 1s ease-out;
}
.FE_figma_container {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
}
.Vm-modal-img {
  height: auto;
  width: auto;
  border: 1px solid black;
  border-radius: 10px;
}
.ViewMoreBtn {
  border: 0;
  outline: none;
  border-bottom: 2px solid orange;
  border-radius: 0;
}
.view-More-FE-model {
  z-index: 1;
  cursor: pointer;
}
.FE_cardJson {
  overflow-x: hidden;
  margin-top: 10px;
  transition: all .4s ease;
}
.FE_cardJson:hover {
  transition: all .4s ease;
  transform: translateX(5px) translateY(-10px);
  color: orange;
}
.FE_cardJson:focus:hover {
  transition: all .4s ease;
  transform: translateX(5px) translateY(-10px);
  color: orange;
}
.work-title {
  padding-top: 20px;
  padding-bottom: 5px;
  color: #183153;
  /* text-decoration: underline; */
}
.modal-header {
  background-color: #FAFD5D;
}
/* .project-title{
  color: #183153;
} */