.FE_card {
  /* margin-top: 35px; */
  width: 100%;
  /* Use percentage-based width */
  max-width: 500px;
  /* Set a maximum width if needed */
  height: auto;
  max-height: auto;
  /* Set a maximum height if needed */
  border-radius: 6px;
  box-sizing: border-box;
  overflow: hidden;
  /* Ensure content doesn't overflow */
  /* box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; */
  border: none;
  cursor: pointer;
  /* background-color: rgba(203, 217, 233, 0.141); */
}
.FE_card:hover {
  /* box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1); */
  transform: translateY(-7px);
  transition: all .2s ease;
  color: orange;
}
.FE_title {
  padding-top: 20px;
  cursor: pointer;
  float: left;
}
.FE_card-img1 {
  width: auto;
  height: auto;
  fill: antiquewhite;
  border-radius: 10px;
  /* border: none;  */
  transition: all .9s ease-out;
  border: 1px solid black;
}
.FE_card-img1:hover {
  opacity: 1;
  transition: all 1s ease-in;
}
.FE_card-img2 {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: auto;
  /* Use percentage-based width */
  height: auto;
  opacity: .7;
  fill: antiquewhite;
  border-radius: 10px;
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.145); */
  border: 1px solid black;
  transition: all .9s ease;
}
.FE_card-img2:hover {
  opacity: 1;
  transition: all 1s ease-out;
}
.FE_card-img3 {
  width: auto;
  opacity: .7;
  /* Use percentage-based width */
  height: auto;
  fill: antiquewhite;
  border-radius: 10px;
  border: 1px solid black;
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.145); */
}
.FE_card-img3:hover {
  opacity: 1;
  transition: all 1s ease-out;
}
.FE_figma_container {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
}
.Vm-modal-img {
  height: auto;
  width: auto;
  border: 1px solid black;
  border-radius: 10px;
}
.ViewMoreBtn {
  border: 0;
  outline: none;
  /* border-bottom: 2px solid orange; */
  border-radius: 0;
  color: #183153;
  font-weight: bold;
}
.view-More-FE-model {
  z-index: 1;
  cursor: pointer;
}
.FE_cardJson {
  overflow-x: hidden;
  margin-top: 10px;
  transition: all .4s ease;
}
.FE_cardJson:hover {
  transition: all .4s ease;
  transform: translateX(5px) translateY(-10px);
  color: orange;
}
.bi-info-circle {
  border: none;
  outline: none;
}
#my-tooltip-1 {
  background-color: #183153;
  color: #FAFD5D;
  border-radius: 30px;
  z-index: 999;
}
.FE_cardJson:focus:hover {
  transition: all .4s ease;
  transform: translateX(5px) translateY(-10px);
  color: orange;
}
.work-title {
  padding-top: 20px;
  padding-bottom: 5px;
  color: #183153;
}
.frontend-modal-closebtn:hover {
  border: none;
  outline: none;
  box-shadow: none;
  color: #183153;
  transform: scale(-1.2);
}
.frontend-modal-closebtn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.modal-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3cpath d='M140 93.33C125.02 93.33 116.67 121.61 116.67 140C116.67 148.63 128.08 147.37 140 147.37C161.29 147.37 183.08 151.01 183.08 140C183.08 123.99 158.23 93.33 140 93.33' stroke='rgba(255%2c 255%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M536.67 0C569.29 38.19 530.23 72.66 539.58 140C541.89 156.66 551.08 168 560 168C568 168 572.18 155.25 573.42 140C579.01 71.25 540.39 36.8 573.66 0C603.68 -33.2 636.83 0 700 0C770 0 770 0 840 0C910 0 910 0 980 0C1050 0 1050 0 1120 0C1124.12 0 1124.29 -1.15 1128.24 0C1194.29 19.22 1197.12 40.73 1260 40.73C1293.27 40.73 1287.03 9.75 1320.54 0C1357.03 -10.62 1360.27 0 1400 0C1443.24 0 1445.64 -9 1486.47 0C1515.64 6.43 1530.33 5.55 1540 30.85C1557.09 75.55 1540 85.43 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 467.05 1558.52 477.05 1540 514.1C1523.52 547.05 1508.12 547.5 1470 560C1438.12 570.45 1435 560 1400 560C1330 560 1330 560 1260 560C1190 560 1190 560 1120 560C1050 560 1050 560 980 560C939.16 560 936.14 570.22 898.33 560C866.14 551.3 872.75 525.66 840 522.16C773.59 515.06 768.19 524.55 700 538.79C677.6 543.47 681.16 556.62 658.82 560C611.16 567.22 609.41 560 560 560C492.8 560 487.93 566.93 425.6 560C417.93 559.15 421.94 544.44 420 544.44C418.16 544.44 425.17 559.21 418.03 560C355.17 566.99 349.01 560 280 560C223.02 560 214.17 575.4 166.05 560C144.17 553 155.01 515.2 140 515.2C123 515.2 127.6 551.82 102.03 560C57.6 574.22 21.51 589.51 0 560C-29.51 519.51 0 490 0 420C0 350 0 350 0 280C0 210 0 210 0 140C0 70 -35 35 0 0C35 -35 70 0 140 0C210 0 210 0 280 0C350 0 350 0 420 0C478.34 0 509.5 -31.81 536.67 0' stroke='rgba(255%2c 255%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 122.5C1395.28 122.5 1390 132.01 1390 140C1390 145.42 1395.18 149.33 1400 149.33C1404.46 149.33 1408.57 145.29 1408.57 140C1408.57 131.87 1404.56 122.5 1400 122.5' stroke='rgba(255%2c 255%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1120 269.23C1115.58 269.23 1107.27 276.37 1107.27 280C1107.27 282.81 1114 282.12 1120 282.12C1121.33 282.12 1121.92 281.34 1121.92 280C1121.92 274.89 1122.9 269.23 1120 269.23' stroke='rgba(255%2c 255%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M65.62 0C65.62 34.31 17.75 105 0 105C-15.06 105 -20.19 32.31 0 0C12.62 -20.19 65.62 -18.19 65.62 0' stroke='rgba(255%2c 255%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M280 60C251.88 29.22 222.07 17.7 222.07 0C222.07 -12.3 251.03 0 280 0C329.41 0 333.25 -10.85 378.82 0C403.25 5.82 406.26 11.44 420 33.33C450.19 81.44 437.02 90.29 466.67 140C507.02 207.63 519.21 268 560 268C596.56 268 596.88 206.29 621.37 140C646.39 72.29 628.37 54.57 659.02 0C667.68 -15.43 679.51 0 700 0C770 0 770 0 840 0C881.17 0 922.35 -17.79 922.35 0C922.35 25.96 880 42.72 840 87.5C817.47 112.72 800.94 108.85 797.29 140C789.65 205.1 805.04 210.43 817.42 280C826.39 330.43 810.88 344.83 840 380C868.84 414.83 933.33 407.63 933.33 420C933.33 431.41 884.54 415.02 840 427.57C767.88 447.9 768.75 453.96 700 485.76C628.75 518.72 618.07 572.81 560 557.08C496.67 539.93 505.39 490.6 457.19 420C435.39 388.06 448.21 352 420 352C370.11 352 313.01 371.28 301 420C287.37 475.28 375.42 515.43 368.73 560C364.92 585.43 324.37 560 280 560C243.37 560 231.63 580.41 206.74 560C161.63 523.01 182.15 492.78 140 445.2C120.14 422.78 109.25 436.27 82.73 420C39.25 393.33 23.33 398.81 0 359.33C-18.04 328.81 0 319.66 0 280C0 225.91 -30.31 190.56 0 171.82C39.69 147.27 69.67 190.38 140 193.42C209.67 196.43 213.92 200.73 280 183.92C318.92 174.02 350 167.1 350 140C350 105.14 315.84 99.22 280 60' stroke='rgba(255%2c 255%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1187.41 140C1203.83 108 1225.46 104.36 1260 104.36C1285.09 104.36 1284.62 120.66 1306.67 140C1354.62 182.04 1355.01 227.11 1400 227.11C1441.68 227.11 1437.82 181.26 1480 140C1507.82 112.79 1521.7 90.17 1540 90.17C1551.7 90.17 1540 115.09 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 438.36 1553.88 448.18 1540 456.72C1483.88 491.25 1454.59 517.37 1400 506.15C1365.28 499.01 1393.68 449.85 1361.38 420C1323.68 385.15 1307.11 376.76 1260 376.76C1232.32 376.76 1232.25 395.1 1211.8 420C1162.25 480.35 1172.15 547.27 1120 547.27C1057.96 547.27 983.41 476.98 983.41 420C983.41 370.92 1056.25 383.02 1120 335.15C1149.48 313.02 1158.23 313.67 1169.86 280C1191.93 216.1 1158.76 195.82 1187.41 140' stroke='rgba(255%2c 255%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 478.71C11.33 478.71 42.71 532.26 42.71 560C42.71 572.9 7.36 574 0 560C-14 533.35 -10.03 478.71 0 478.71' stroke='rgba(255%2c 255%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M669.32 140C670.44 99.92 683.14 62.76 700 62.76C717.46 62.76 737.12 99.35 737.97 140C739.38 207.97 706.78 209.55 704.52 280C702.28 349.55 730.82 357.54 728.97 420C728.56 433.91 714.79 427.11 700 432.73C630.3 459.2 621.17 488.31 560 484.17C527.11 481.94 511.88 452.58 511.88 420C511.88 385.5 527.25 375.19 560 350C618.26 305.19 665.75 334.1 693.91 280C720.41 229.1 667.4 208.54 669.32 140' stroke='rgba(255%2c 255%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 14.58C822.25 14.58 801.11 3.76 801.11 0C801.11 -3.53 820.56 0 840 0C846.87 0 853.73 -2.97 853.73 0C853.73 4.32 848.56 14.58 840 14.58' stroke='rgba(255%2c 255%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M37.33 280C37.33 252.18 86.64 245.51 140 239.47C207.97 231.78 211.26 240.02 280 252.55C322.44 260.29 362.35 262.84 362.35 280C362.35 298.44 323.53 307.88 280 323.75C212.36 348.41 203.77 372.55 140 361.05C82.43 350.67 37.33 312.97 37.33 280' stroke='rgba(255%2c 255%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1217.81 280C1217.81 236.8 1229.24 186.67 1260 186.67C1301.67 186.67 1362.67 241.68 1362.67 280C1362.67 310.99 1306.68 325.29 1260 325.29C1234.25 325.29 1217.81 306.11 1217.81 280' stroke='rgba(255%2c 255%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1068.78 420C1068.78 401.59 1095.91 388.18 1120 388.18C1138.73 388.18 1154.43 402.36 1154.43 420C1154.43 442.14 1139.56 467.73 1120 467.73C1096.73 467.73 1068.78 441.37 1068.78 420' stroke='rgba(255%2c 255%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M247.44 560C247.44 536.83 262.39 493.33 280 493.33C298.39 493.33 319.44 537.91 319.44 560C319.44 571.25 299.72 560 280 560C263.72 560 247.44 570.17 247.44 560' stroke='rgba(255%2c 255%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
/* .modal-header {
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3cpath d='M12.5 140C9.3 124.53 1.39 126.41 0 110.83C-4.86 56.41 -30.93 24.49 0 0C39.07 -30.93 70 0 140 0C210 0 210 0 280 0C350 0 350 0 420 0C464.42 0 479.96 -23.86 508.85 0C549.96 33.96 533.06 115.65 560 115.65C587.55 115.65 575.03 35.36 617.83 0C645.03 -22.47 658.91 0 700 0C770 0 770 0 840 0C910 0 910 0 980 0C1025.61 0 1071.21 -22.39 1071.21 0C1071.21 36.63 1026.83 60.1 980 118.04C970.25 130.1 967.51 127.73 958.04 140C905.01 208.71 848.75 228.56 855 280C859.73 318.91 920.44 320.7 980 320.7C1012.6 320.7 1015.97 306.63 1039.32 280C1085.97 226.78 1080.54 221.03 1120 161C1126.55 151.03 1126.01 150.67 1131.35 140C1166.26 70.17 1153.92 50.69 1200.5 0C1218.25 -19.31 1230.25 0 1260 0C1330 0 1330 0 1400 0C1461.51 0 1517.38 -29.41 1523.03 0C1530.84 40.59 1477.77 72.5 1426.92 140C1416.25 154.16 1414.24 152.64 1400 163.33C1330.78 215.27 1330.87 215.65 1260 265.26C1247.53 273.99 1233.33 270.58 1233.33 280C1233.33 291.95 1243.36 298.56 1260 308C1326.7 345.85 1334.45 334.99 1400 374.59C1427.15 390.99 1421.78 398.28 1445.41 420C1491.78 462.65 1507.37 455.04 1540 503.33C1554.67 525.04 1560.17 551.84 1540 560C1490.17 580.17 1470 560 1400 560C1330 560 1330 560 1260 560C1190 560 1190 560 1120 560C1050 560 1050 560 980 560C910 560 910 560 840 560C770 560 770 560 700 560C630 560 630 560 560 560C490 560 490 560 420 560C350 560 350 560 280 560C210 560 210 560 140 560C70 560 35 595 0 560C-35 525 0 490 0 420C0 366.07 -12.15 360.73 0 312.13C5.35 290.73 33.43 301.6 35 280C39.68 215.54 26.8 209.12 12.5 140' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M280 15.56C238.87 23.87 235.2 78.68 235.2 140C235.2 190.31 242.61 234.35 280 238.82C335.01 245.4 346.74 191.66 420 162.11C469.24 142.25 525 154.58 525 140C525 124.86 469.4 127.76 420 102.67C346.9 65.54 331.27 5.2 280 15.56' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1494.59 280C1494.59 255.19 1527 229.09 1540 229.09C1549.7 229.09 1540 254.55 1540 280C1540 302.71 1549.4 325.41 1540 325.41C1526.7 325.41 1494.59 303.35 1494.59 280' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M420 382.99C400.1 382.99 386.11 399.79 386.11 420C386.11 446.54 398.49 476.49 420 476.49C448.29 476.49 485.71 445 485.71 420C485.71 398.25 449.9 382.99 420 382.99' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M75 140C60.02 69.28 19.1 41.1 38.18 0C51.6 -28.9 89.09 0 140 0C169.48 0 191.77 -20.7 198.95 0C216.04 49.3 184.7 70.49 188.53 140C192.41 210.49 184.27 222.76 214.38 280C230 309.69 249.23 313.87 280 313.87C301.49 313.87 298.33 295.52 318.89 280C368.33 242.67 363.51 228.21 420 208.16C484.07 185.43 498.18 217.01 560 194.44C591.51 182.93 586.38 169.46 606.67 140C653.34 72.24 648.91 67.51 693.91 0C695.57 -2.49 696.95 0 700 0C770 0 770 0 840 0C910 0 910 0 980 0C999.09 0 1018.18 -9.37 1018.18 0C1018.18 15.33 1001.1 26.47 980 49.41C936.71 96.47 932.49 92.74 889.41 140C862.49 169.54 866.16 172.74 840 203C805.64 242.74 768.37 241.27 768.37 280C768.37 319.26 794.26 341.38 840 358.97C900.07 382.08 913.14 346.24 980 361.4C1047.76 376.76 1065.39 375.35 1109.23 420C1135.39 446.65 1107.49 504 1120 504C1133.87 504 1128.28 446.14 1162 420C1198.28 391.89 1212.34 395.5 1260 395.5C1285.84 395.5 1286.39 404.74 1309 420C1356.39 451.99 1354.91 454.47 1400 490C1443.75 524.47 1486.67 540.31 1486.67 560C1486.67 575.31 1443.34 560 1400 560C1330 560 1330 560 1260 560C1190 560 1190 560 1120 560C1050 560 1050 560 980 560C910 560 910 560 840 560C809.38 560 790.38 581.21 778.75 560C752 511.21 787.84 481.26 763.23 420C748.47 383.26 736.13 364 700 364C639.18 364 581.13 374.1 569.33 420C555.93 472.1 652.6 514.99 649.6 560C647.93 584.99 604.8 560 560 560C490 560 490 560 420 560C350 560 350 560 280 560C216.51 560 180.42 593.23 153.02 560C122.7 523.23 169.18 488.11 164.56 420C162.67 392.18 152.39 394.02 140 368.15C118.86 324.02 110.77 326.58 97.5 280C78.27 212.51 89.68 209.28 75 140' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M420 24.89C403.02 24.89 382.67 6.79 382.67 0C382.67 -5.65 401.34 0 420 0C430.77 0 441.54 -4.92 441.54 0C441.54 7.52 432.46 24.89 420 24.89' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1178.65 140C1178.65 84.96 1207.66 63.91 1260 21.96C1295 -6.09 1306.25 7.39 1353.33 0C1376.25 -3.59 1376.66 0 1400 0C1408.49 0 1416.97 -4.32 1416.97 0C1416.97 7.34 1405.76 10.19 1400 23.33C1375.06 80.19 1390.66 90.89 1355.56 140C1320.66 188.83 1306.2 219.21 1260 219.21C1217.74 219.21 1178.65 183.59 1178.65 140' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1098.64 280C1098.64 262.11 1108.02 248.5 1120 248.5C1133.7 248.5 1150 260.56 1150 280C1150 328.81 1132.96 385 1120 385C1107.28 385 1098.64 330.36 1098.64 280' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 369.51C32.86 369.51 96.25 388.87 96.25 420C96.25 456.89 28.91 505.56 0 505.56C-19.21 505.56 0 462.78 0 420C0 394.75 -15.26 369.51 0 369.51' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M420 342.76C378.47 342.76 349.26 377.81 349.26 420C349.26 475.38 375.11 537.89 420 537.89C479.05 537.89 557.14 472.16 557.14 420C557.14 374.6 482.41 342.76 420 342.76' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M137.5 140C137.5 132.99 138.9 126 140 126C141.09 126 141.87 132.99 141.87 140C141.87 147.77 141.09 155.56 140 155.56C138.9 155.56 137.5 147.77 137.5 140' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M662.22 140C662.22 107.93 674.07 80.5 700 80.5C742.55 80.5 799.17 102.46 799.17 140C799.17 188.88 738.18 253.33 700 253.33C669.71 253.33 662.22 194.35 662.22 140' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1225.95 140C1225.95 116.96 1242.02 90.59 1260 90.59C1279.05 90.59 1300 117.28 1300 140C1300 158.57 1279.34 173.16 1260 173.16C1242.31 173.16 1225.95 158.25 1225.95 140' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M383.7 280C383.7 267.67 398.74 256.71 420 254.21C486.89 246.34 490.66 251.6 560 259.26C607.32 264.49 653.33 266.36 653.33 280C653.33 294.23 608.41 310.33 560 315C491.74 321.59 487.6 315.95 420 302.53C399.45 298.45 383.7 291.83 383.7 280' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M225.96 420C233.79 387.42 256.09 370.32 280 370.32C299.32 370.32 302.88 392.3 312.42 420C335.55 487.14 356.48 511.87 345.33 560C340.27 581.87 312.66 560 280 560C257.21 560 241.05 577.17 234.42 560C214.03 507.17 211 482.26 225.96 420' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M898.95 420C898.95 396.59 940.41 402.09 980 402.09C1000.68 402.09 1019.49 402.95 1019.49 420C1019.49 463.24 1007.53 522.67 980 522.67C947.26 522.67 898.95 456.88 898.95 420' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M517.39 560C517.39 551.23 541.71 528.39 560 528.39C572.82 528.39 579.6 549.65 579.6 560C579.6 565.45 569.8 560 560 560C538.69 560 517.39 567.04 517.39 560' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1194.88 560C1194.88 537.84 1224.73 486.32 1260 486.32C1301.04 486.32 1347.5 539.13 1347.5 560C1347.5 575.97 1303.75 560 1260 560C1227.44 560 1194.88 574.68 1194.88 560' stroke='rgba(250%2c 253%2c 93%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
} */
/* .project-title{
  color: #183153;
} */

.blink {
  height: 5px;
  width: 15px;
  background-color: greenyellow;
  border-radius: 100px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
